# Filename to save the classifier model as
export CLF_MODEL_PATH=model.pkl
# Number of most common words to use
export CLF_DICT_NUM=5000
# The path to your training data base directory (.eml and .msg files, subdirectories)
export CLF_TRAININGDATA_PATH=
# The path to your stanford_ner directory (see README.md)
export STANFORD_NER_PATH=/home/morty/projects/msc/poc/juicer/stanford_ner
# Forces the progress bar to display (without enabling verbosity)
# Useful when training on large data sets
export FORCE_BAR=0