# The algorithm to use
export algo=mnb
# Filename of the tagging database
export DBFILE=tagger.db
# Prepend for the classifier model file
export CLF_MODEL_PRE=model_
# Number of most common words to use
export CLF_DICT_NUM=5000
# The path to your training data base directory (.eml and .msg files, subdirectories)
export CLF_TRAININGDATA_PATH=
# The path to your stanford_ner directory (see README.md)
export STANFORD_NER_PATH=/home/morty/projects/msc/poc/juicer/stanford_ner
# Forces the progress bar to display (without enabling verbosity)
# Useful when training on large data sets
export FORCE_BAR=0
# Whether to cache the threat intel feeds (stores on disk)
export CACHE_THREAT_FEEDS=0
# How many hours before a cached feed is considered expired
export CACHE_THREAT_FEEDS_HRS=24
# JIRA
export JIRA_SERVER=jira.domain.tld
export JIRA_USER=username
export JIRA_PASS=password
export JIRA_ASSIGNEES=accountId1,accountId2
export JIRA_PROJECT_KEY=SEC
export MIN_CONFIDENCE_LEVEL=85